<%= form_for @replay, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :player, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :player, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :score, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :level_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :data, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :data %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                replays_path, :class => 'btn' %>
  </div>
<% end %>


