<%- model_class = Replay.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:player) %></th>
      <th><%= model_class.human_attribute_name(:level_id) %></th>
      <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @replays.each do |replay| %>
      <tr>
        <td><%= replay.id %></td>
        <td><%= replay.player %></td>
        <td><%= link_to replay.level_id, level_path(replay.level_id) %></td>
        <td><%= replay.score %></td>
        <td><%= link_to replay.level_id.to_s + ".replay", replay %></td>
        <td><%=l replay.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_replay_path(replay), :class => 'btn btn-small' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      replay_path(replay),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-small btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_replay_path,
              :class => 'btn btn-primary' %>
</div>
