<p id="notice"><%= notice %></p>

<p>
  <b>Player one:</b>
  <%= @game.player_one %>
</p>

<p>
  <b>Player two:</b>
  <%= @game.player_two %>
</p>

<p>
  <b>Board:</b>
  <%= @game.board %>
</p>

<p>
  <b>You are:</b>
  player <%= @current_player %>
</p>

<p>
  <%= form_tag({:controller => :games, :action => :invite}, :method => :post) do %>
    <%= label_tag :opponent, 'Invite opponent:' %>
    <%= email_field_tag :opponent %>
    <%= submit_tag 'Invite' %>    
  <% end %>
</p>
